@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

#camera {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #f0f0f0;
}

.header {
    text-align: center;
    margin-top: 20px;
}

.header h1 {
    font-size: 2rem;
}

.header h3 {
    font-size: 0.9rem;
    color: #666;
}