@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#camera {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 90%;
    background-color: #f0f0f0;

    border-color: #CAF0D8;
    border-style: solid;
    border-width: 3px;
}

.header {
    text-align: center;
    margin-top: 20px;
}

.header h1 {
    font-size: 2rem;
}

.header h3 {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5px;
}

#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 0 2em 0 2em;
}

.btn {    
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-style: solid;    
    border-radius: 50%;
}

