#sideBarButton {
    position: fixed;
    left: 20px;
	top: 30px;
}

#sideBar{
    position: fixed;
    top: 0;
    left: 0;


    flex-direction: column;

    height: 100vh;
    width: 65%;

    background-color: red;
}